* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.productsFetch-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  column-gap: 100px;
  row-gap: 30px;
  text-align: center;
  align-items: center;

  padding: 0 10rem;
  margin-top: 40px;
  margin-bottom: 20px;
}

#mainH {
  margin: 30px auto;
  font-size: 50px;
  font-family: "cursive";
}
hr {
  width: 100%;
  margin-bottom: 5px;
}
.category-wrapper {
  width: 80vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.category-wrapper button {
  color: black;
  background-color: white;
  margin: 0 2px;
  flex-grow: 1;
  font-size: 20px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
.category-wrapper button:hover {
  transform: scale(1.1);
  font-weight: bold;
  background-color: black;
  color: white;
}
@media (max-width: 450px) {
  .productsFetch-wrapper {
    padding: 0 5rem;
  }
}
@media (max-width: 350px) {
  .productsFetch-wrapper {
    padding: 0 2rem;
  }
}
